<div class="card_container">
	<div class="card">
		<div class="card_login">
			<form id="form_login" action="/admin/login" method="post" accept-charset="utf-8">
				<input type="input" name="username" value="" placeholder="输入用户名" /><br /><br />
				<input type="password" name="pass" value="" placeholder="输入密码" /><br /><br />
				<a id="btn_reset" class="a_btn">重置</a>
				<a id="btn_login" class="a_btn">登陆</a>
			</form>
		</div>
	</div>
</div>

<script>
	$(function() {
		document.querySelector('#btn_login').addEventListener('click', function(ev){
		    ev.preventDefault();
		    $('#form_login').submit();
		}, false);
	});
</script>