<div class="card_container">
	<div class="card">
		<div class="card_about">
			<span><%= title %></span>
			<br />
			var personal = {<br />
				name: "Lu ChenJie",<br />
				aka: "lcjfly",<br />
				birthday: '1988-09-20'<br />
			};<br /><br />

			var timeline = {<br />
				2006.09 - 2010.06: "ecust",<br />
				2010.09 - 2013.04: "ecust master",<br />
				2013/04 - now: "csvw"<br />
			};<br /><br />

			var contact = {<br />
				email: "lcjfly at gmail.com",<br />
				github: "http://github.com/lcjfly",<br />
				dribbble: ""<br />
			};

		</div>
	</div>
</div>