<div class="card_container">
	<div class="card">
		<div class="card_about">
			<span><%= title %></span>
			<pre class="prettyprint">
var personal = {
    name: "Lu ChenJie",
    aka: "lcjfly",
    birthday: '1988-09-20'
};

var timeline = {
    2006.09 - 2010.06: "ecust",
    2010.09 - 2013.04: "ecust master",
    2013/04 - now: "csvw"
};

var contact = {
    email: "lcjfly (at) gmail.com",
    github: "http://github.com/lcjfly"
};
			</pre>
		</div>
	</div>
</div>