<div class="card_container">
	<div class="card">
		<div class="card_dream">
			<span><%= title %></span>
			 <ul>
			 	<li>有自己的博客</li>
			 	<li>开一家咖啡店</li>
			 	<li>去一趟硅谷</li>
			 	<li>尝试一次高空跳伞</li>
			 	<li>去一趟西藏</li>
			 </ul>
		</div>
	</div>
</div>