<div class="card_container">
	<div class="card">
		<div class="card_follow">
			<span><%= title %></span>
			 <ul>
			 	<% follows.forEach(function(follow) {%>
			 		<li><a href="<%= follow.url%>"><%= follow.name%></a></li>
			 	<% }) %>
			 </ul>
		</div>
	</div>
</div>