<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/javascripts/jquery.js"></script>
    <!-- <script src="http://172.28.48.232:4000/a"></script> -->
  </head>
  <body>
  	<div class="header">
  		<div class="header_container">
  			<span id="banner"><a href="/">LCJ</a></span>
  			<ul id="navi">
  				<li><a href="/about">关于我</a></li>
  				<li><a href="/dream">我的梦想</a></li>
  				<li><a href="/archives">文章存档</a></li>
  				<li><a href="/follow">我关注的</a></li>
  			</ul>
  		</div>
  	</div>