<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="http://127.0.0.1:4000/a"></script>
  </head>
  <body>
  	<div class="header">
  		<div class="header_container">
  			<span id="banner"><a href="/">LCJ</a></span>
  			<ul id="navi">
  				<li><a href="/about">关于我</a></li>
  				<li><a href="/dream">我的梦想</a></li>
  				<li><a href="/archives">文章存档</a></li>
  				<li><a href="/follow">关注博客</a></li>
  			</ul>
  		</div>
  	</div>

    <%- body %>

  	<div class="footer">
  		<div class="footer_container">
  			<p>Lovingly made by lu chenjie.</p>
  			<p>
          Thanks <a href="http://www.nodejs.org">NodeJS</a> , <a href="http://expressjs.com">Express</a> and <a href="http://www.mongodb.org">MongoDB</a>.
        </p>
        <p>
          Website host by <a href="http://www.heroku.com">Heroku</a>, Database host by <a href="http://www.mongohq.com">mongoHQ</a>.
        </p>
  		</div>
  	</div>

    <a href="#" class="go-top">回到顶部</a>

  <script>
    $(document).ready(function() {
      // Show or hide the sticky footer button
      $(window).scroll(function() {
        if ($(this).scrollTop() > 200) {
          $('.go-top').fadeIn(200);
        } else {
          $('.go-top').fadeOut(200);
        }
      });
      
      // Animate the scroll to top
      $('.go-top').click(function(event) {
        event.preventDefault();
        
        $('html, body').animate({scrollTop: 0}, 300);
      })
    });
  </script>



  </body>
</html>