body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 62.5%;
  text-align: center;
  color: #555;
  background-color: #e6e6e6;
}

input{
  width: 20em;
  height: 2em;
  font-size: 1em;
}

textarea {
  font-size: 1em;
}

.header {
  width: 100%;
  background-color: #36A7DA;
  overflow: auto;
}

.header_container {
  margin: 0 auto; 
  width: 100%;
  max-width: 960px;
  color: white;
}

.header_container ul li {
  float: left;
}

.header_container ul li a {
  padding: .5em;
  color: white;
  font-size: 1em;
  text-decoration: none;
}

#banner a {
  float: left;
  font-size: 3em;
  color: white;
  text-decoration: none;
}

ul#navi {
  float: right;
  font-size: 1.4em;
  line-height: 3em;
}

.card_container {
  padding: 1em 1em;
  padding-bottom: 0;
  font-size: 1.5em;
}

.card {
  text-align: left;
  width: 100%;
  max-width: 960px;
  min-height: 20px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 1em;

  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
     -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
          box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.card a {
  color: #555;
}

.card_post {
  padding: 1em;
}

.card_post .title{
  font-size: 2em;
}

.card_post .created_at {
  .font-size: .5em;
  color: #aaa;
}

.card_post .body {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

.card_post .comments_count {
  font-size: 1.2em;
}

.page_container {
  font-size: 1em;
  overflow: auto;
  text-decoration: none;
}

.page_container li {
  line-height: 3em;
  display: inline-block;
}

.card_page {
  padding-left: 1em;
  padding-right: 1em;
}

#page_previous {
  display: inline-block;
  width: 33%;
  float: left;
}

#page {
  display: inline-block;
  width: 33%;
  text-align: center;
}

#page_next {
  width: 33%;
  display: inline-block;
  text-align: right;
}

.footer {
  width: 100%;
  height: 3em;

  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.3) inset;
     -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.3) inset;
          box-shadow: 0px 2px 2px rgba(0,0,0,.3) inset;
}

.footer_container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
  font-size: 1.5em;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer_container a {
  color: #555;
}

.card_about,
.card_dream,
.card_archives,
.card_follow,
.card_login,
.card_admin {
  padding: 2.5em;
}

.card_follow ul,
.card_dream ul,
.card_archives ul,
.card_follow ul {
  padding-left: 2em;
}

.card_follow ul li {
  line-height: 2em;
}

.card_comment {
  padding: 1em;
  font-size: .8em;
}

.card_admin a {
  display: inline-block;
  padding-bottom: 1em;
}

a.a_btn {
  background-color: #36A7DA;
  color: white;
  padding: .5em 1em;
  display: inline-block;
}

.card span {
  display: inline-block;
  font-size: 1.5em;
  padding-bottom: .8em;
}

.card ul li {
  list-style: decimal;
}

.archive_year {
  padding-bottom: 2em;
}

.archive_year ul li {
  list-style-type: square;
  line-height: 2em;
}

.archive_year p {
  font-size: 2em;
  border-bottom: 1px solid black;
  margin-bottom: .5em;
}

a.delete {
  background-color: red;
  color: white;
  padding-bottom: .5;
}

#comment_tip {
  color:red;
  display:inline-block;
}

section {
  text-indent: 2em;
}


/***********************************************************************************************/
/* Go to top Button */
/***********************************************************************************************/
.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}